{% extends 'base.html' %}
{% load static %}
{% block title %} List of trainers  {% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for trainer in all_trainers %}
                <div class="col-md-4 mb-4">
                    <br><br>
                    <div class="card">
                        <div class="card-body">
                            {% if trainer.profile %}
                                <img src="{{ trainer.profile.url }}" width="60px" height="60px"/>
                            {% else %}
                                <img src="{% static 'images/img_3.png' %}" width="60px" height="60px"/>
                            {% endif %}
                            <h5 class="card-title">{{ trainer.first_name }} {{ trainer.last_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ trainer.course|upper }}</h6>
                            <p class="card-text"><strong>Email:</strong> {{ trainer.email }}</p>
                            <p class="card-text"><strong>Department:</strong> {{ trainer.department|upper }}</p>
                            <p class="card-text"><strong>Active:</strong> {% if trainer.active %}Yes{% else %}
                                No{% endif %}</p>
                            <p class="card-text"><strong>Created at:</strong> {{ trainer.created_at|date:"d-m-Y" }}</p>
                            <p class="card-text"><strong>Updated at:</strong> {{ trainer.updated_at|date:"d-m-Y" }}</p>
                            <p>
                            {% if perms.trainer.change_trainer or perms.trainer.delete_trainer or perms.trainer.view_trainer %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    More actions
                                </button>
                                <ul class="dropdown-menu">
                                    {% if perms.trainer.change_trainer %}
                                    <li><a class="dropdown-item" href="{% url 'update-trainer' trainer.id %}">Update</a></li>
                                    {% endif %}
                                {% if perms.trainer.delete_trainer %}
                                    <li><a class="dropdown-item" href="{% url 'delete-trainer' trainer.id %}">Delete</a></li>
                                {% endif %}
                                {% if perms.trainer.view_trainer %}
                                    <li><a class="dropdown-item" href="{% url 'details-trainer' trainer.id %}">View Details</a></li>
                                {% endif %}
                                </ul>
                            </div>
                            {% endif %}
                            </p>
                            {#                            <a href="#" class="card-link">Edit</a>#}
                            {#                            <a href="#" class="card-link">Delete</a>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}